<div id="budgets-parallax">

<%= render "layouts/navbar" %>

  <div class="header-container">
    <h3 class="page-header">Budgets</h3>
  </div>
</div>

<div class="page-content-section" >
	
	<div class="container">

		<div style="height: 360px; width: 100%;position:relative;">
			<div id="thailand-chart-1" class="chart" style="height: 400px; width: 100%;"></div>
			<div class="total">$763.66 <br> $69.42 / Day</div>
		</div>

		<div style="height: 360px; width: 100%;position:relative;">
			<div id="vietnam-chart" class="chart" style="height: 400px; width: 100%;"></div>
			<div class="total">$1,128.49 <br> $102.59 / Day</div>
		</div>

		<div style="height: 360px; width: 100%;position:relative;">
			<div id="cambodia-chart" class="chart" style="height: 400px; width: 100%;"></div>
			<div class="total">$674.39 <br> $96.34 / Day</div>
		</div>

	</div>
	
</div>