<div id="budgets-parallax">

<%= render "layouts/navbar" %>

  <div class="header-container">
    <h3 class="page-header">Budgets</h3>
  </div>
</div>

<div class="page-content-section" >
	
	<div class="container">

		<div class="chart-container" style="height: 360px; width: 100%;position:relative;">
			<div id="thailand-chart-1" style="height: 400px; width: 100%;"></div>
			<div class="total">$763.66 <br> $69.42 / Day</div>
		</div>

		<hr>

		<div class="chart-container" style="height: 360px; width: 100%;position:relative;">
			<div id="vietnam-chart" style="height: 400px; width: 100%;"></div>
			<div class="total">$1,128.49 <br> $102.59 / Day</div>
		</div>

		<hr>

		<div class="chart-container" style="height: 360px; width: 100%;position:relative;">
			<div id="cambodia-chart" style="height: 400px; width: 100%;"></div>
			<div class="total">$674.39 <br> $96.34 / Day</div>
		</div>

		<hr>

		<div class="chart-container" style="height: 360px; width: 100%;position:relative;">
			<div id="thailand-chart-2" style="height: 400px; width: 100%;"></div>
			<div class="total">$2,747.09 <br> $98.11 / Day</div>
		</div>

		<hr>

		<div class="chart-container" style="height: 360px; width: 100%;position:relative;">
			<div id="indonesia-chart" style="height: 400px; width: 100%;"></div>
			<div class="total">$1,595.02 <br> $99.69 / Day</div>
		</div>

		<hr>

		<div class="chart-container" style="height: 360px; width: 100%;position:relative;">
			<div id="singapore-chart" style="height: 400px; width: 100%;"></div>
			<div class="total">$423.26 <br> $105.81 / Day</div>
		</div>

		<hr>

		<div class="chart-container" style="height: 360px; width: 100%;position:relative;">
			<div id="malaysia-chart" style="height: 400px; width: 100%;"></div>
			<div class="total">$789.55 <br> $98.69 / Day</div>
		</div>

		<hr>

	</div>
	
</div>