<div id="parallax-img-1" class="parallax">
	<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
	    <div class="navbar-nav justify-content-center">
	      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="#">Home</a>
	      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="/countries">Trips</a>
	      <a id="nav-world" class="navbar-brand" href="#">
	      	<img src="assets/world-1.svg" width="50" height="50" alt="" class="nav-link-color">
	      </a>
	      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="/budgets">Spend</a>
	      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="#">About</a>
	    </div>
	  </div>
	</nav>

	<div class="logo-container">
		<img id="logo" class="img-fluid" src="assets/1.png">
	</div>

</div>

<div class="parallax-welcome-section">
	<h2>Something Some Slogan, Here</h2>
	<div class="separator"></div>
	<div class="welcome-text">Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. Lorem to the ipsum. </div>

</div>

<div id="parallax-img-2" class="parallax">
	<div class="caption">
		<h5 class="caption-country">Gili Trawangan, Indonesia</h5>
	</div>
</div>

<div class="parallax-section" >

</div>

<div id="parallax-img-3" class="parallax">
	<div class="caption">
		<h5 class="caption-country">Koh Lanta, Thailand</h5>
	</div>
</div>

<div class="pre-footer-section"></div>
<footer class="footer-section footer-basic-centered">
	<p class="footer-company-motto">Keep Movin'</p>

	<img id="logo-footer" class="img-fluid" src="assets/1-logo-size.png">

	<p class="footer-company-name">&copy; 2017</p>
</footer>