<div id="parallax-img-1" class="parallax">

</div>

<div class="parallax-section">

</div>

<div id="parallax-img-2" class="parallax">
	<div class="caption">
		<h3 class="caption-country">Gili Trawangan, Indonesia</h3>
	</div>
</div>

<div class="parallax-section" >

</div>

<div id="parallax-img-3" class="parallax">
	<div class="caption">
		<h3 class="caption-country">Koh Lanta, Thailand</h3>
	</div>
</div>

<div class="parallax-section">

</div>