<div id="parallax-img-1" class="parallax">
	<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
	    <div class="navbar-nav justify-content-center">
	      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="#">Home</a>
	      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="/countries">Countries</a>
	      <a class="navbar-brand" href="#">
	      	<img src="assets/world-1.svg" width="50" height="50" alt="" class="nav-link-color">
	      </a>
	      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="/budgets">Budgets</a>
	      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="#">About</a>
	    </div>
	  </div>
	</nav>

	<div class="logo-container">
		<img id="logo" class="img-fluid" src="assets/1.png">
	</div>

</div>

<div class="parallax-section">

</div>

<div id="parallax-img-2" class="parallax">
	<div class="caption">
		<h5 class="caption-country">Gili Trawangan, Indonesia</h5>
	</div>
</div>

<div class="parallax-section" >

</div>

<div id="parallax-img-3" class="parallax">
	<div class="caption">
		<h5 class="caption-country">Koh Lanta, Thailand</h5>
	</div>
</div>

<div class="parallax-section">

</div>