<div id="countries-parallax" class="parallax">

<%= render "layouts/navbar" %>

  <div class="caption">
    <h3 class="caption-countries">THAILAND</h3>
  </div>
</div>

<div class="countries-section" >
  
  <div class="container countries-container">
    <div class="row">

    </div>
  </div>
  
</div>