<div id="countries-parallax" class="parallax">

<%= render "layouts/navbar" %>

  <div class="caption">
    <h3 class="caption-countries">THAILAND</h3>
  </div>
</div>

<div class="countries-section" >
  
  <div class="container countries-container">

    <div class="row no-gutters">
      <div class="col-4">
        <a href="https://farm2.staticflickr.com/1551/24864762533_e7a46d33ab_b.jpg"><img class="img-fluid" src="https://farm2.staticflickr.com/1551/24864762533_e7a46d33ab_b.jpg" width="2048" height="1368" alt="DSC03587"></a>
      </div>

      <div class="col-4">
        <a href="https://farm2.staticflickr.com/1687/25373028172_47d6f19dba_b.jpg"><img class="img-fluid" src="https://farm2.staticflickr.com/1687/25373028172_47d6f19dba_b.jpg" width="1024" height="684" alt="DSC03588"></a>
      </div>

      <div class="col-4">
        <a href="https://farm2.staticflickr.com/1612/24864377173_968a274213_b.jpg"><img class="img-fluid" src="https://farm2.staticflickr.com/1612/24864377173_968a274213_b.jpg" width="1024" height="684" alt="DSC03542"></a>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">
        <a href="https://farm2.staticflickr.com/1685/25195858140_ce87901bd9_b.jpg"><img class="img-fluid" src="https://farm2.staticflickr.com/1685/25195858140_ce87901bd9_b.jpg" width="1024" height="684" alt="DSC03584"></a>
      </div>

      <div class="col-6">
        <a href="https://farm2.staticflickr.com/1458/25195852700_6182c4c7bc_b.jpg"><img class="img-fluid" src="https://farm2.staticflickr.com/1458/25195852700_6182c4c7bc_b.jpg" width="1024" height="684" alt="DSC03583"></a>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">
        <a href="https://farm2.staticflickr.com/1485/25195908610_e66f52bf26_b.jpg"><img class="img-fluid" src="https://farm2.staticflickr.com/1485/25195908610_e66f52bf26_b.jpg" width="1024" height="684" alt="DSC03579"></a>
      </div>

      <div class="col-4">
        <a href="https://farm2.staticflickr.com/1497/25398556801_029eebc2e3_b.jpg"><img class="img-fluid" src="https://farm2.staticflickr.com/1497/25398556801_029eebc2e3_b.jpg" width="1024" height="684" alt="DSC03572"></a>
      </div>

      <div class="col-4">
        <a href="https://farm2.staticflickr.com/1526/25195756260_75b908c8ca_b.jpg"><img class="img-fluid" src="https://farm2.staticflickr.com/1526/25195756260_75b908c8ca_b.jpg" width="1024" height="684" alt="DSC03570"></a>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">

      </div>

      <div class="col-6">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">

      </div>

      <div class="col-4">

      </div>

      <div class="col-4">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">

      </div>

      <div class="col-6">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">

      </div>

      <div class="col-4">

      </div>

      <div class="col-4">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">

      </div>

      <div class="col-6">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">

      </div>

      <div class="col-4">

      </div>

      <div class="col-4">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">

      </div>

      <div class="col-6">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">

      </div>

      <div class="col-4">

      </div>

      <div class="col-4">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">

      </div>

      <div class="col-6">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">

      </div>

      <div class="col-4">

      </div>

      <div class="col-4">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">

      </div>

      <div class="col-6">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">

      </div>

      <div class="col-4">

      </div>

      <div class="col-4">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">

      </div>

      <div class="col-6">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">

      </div>

      <div class="col-4">

      </div>

      <div class="col-4">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">

      </div>

      <div class="col-6">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">

      </div>

      <div class="col-4">

      </div>

      <div class="col-4">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-6">

      </div>

      <div class="col-6">

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4">

      </div>

      <div class="col-4">

      </div>

      <div class="col-4">

      </div>
    </div>

  </div>
  
</div>