<div id="countries-parallax" class="parallax">

<%= render "layouts/navbar" %>

	<div class="caption">
		<h3 class="caption-countries">Countries</h3>
	</div>
</div>

<div class="countries-section" >
	
	<div class="container countries-container">
		<div class="row">
		  <div id="countries-thailand" class="col text-center country-box"><a href="/thailand">Thailand</a></div>
		  <div id="countries-vietnam" class="col text-center country-box">Vietnam</div>
		  <div id="countries-cambodia" class="col text-center country-box">Cambodia</div>
		  <div id="countries-indonesia" class="col text-center country-box">Indonesia</div>
		  <div class="w-100"></div>
		  <div id="countries-malaysia" class="col text-center country-box">Malaysia</div>
		  <div id="countries-singapore" class="col text-center country-box">Singapore</div>
		  <div id="countries-portugal" class="col text-center country-box">Portugal</div>
		  <div id="countries-spain" class="col text-center country-box">Spain</div>
		  <div class="w-100"></div>
		  <div id="countries-italy" class="col text-center country-box">Italy</div>
		  <div id="countries-france" class="col text-center country-box">France</div>
		  <div id="countries-netherlands" class="col text-center country-box">Netherlands</div>
		  <div id="countries-greece" class="col text-center country-box">Greece</div>
		  <div class="w-100"></div>
		  <div id="countries-uk" class="col text-center country-box">United Kingdom</div>
		  <div id="countries-germany" class="col text-center country-box">Germany</div>
		  <div id="countries-belgium" class="col text-center country-box">Belgium</div>
		  <div id="countries-iceland" class="col text-center country-box">Iceland</div>
		</div>
	</div>
</div>