<div id="countries-parallax">

<%= render "layouts/navbar" %>

	<div class="header-container">
		<h3 class="page-header">Countries</h3>
	</div>
</div>

<div class="page-content-section" >
	
	<div class="container countries-container">
		<div class="row">
		  <div id="countries-thailand" class="col text-center country-box"><a class="country-anchor" href="/thailand">Thailand</a></a></div>
		  <div id="countries-vietnam" class="col text-center country-box"><a class="country-anchor" href="#">Vietnam</a></div>
		  <div id="countries-cambodia" class="col text-center country-box"><a class="country-anchor" href="#">Cambodia</a></div>
		  <div id="countries-indonesia" class="col text-center country-box"><a class="country-anchor" href="#">Indonesia</a></div>
		  <div class="w-100"></div>
		  <div id="countries-malaysia" class="col text-center country-box"><a class="country-anchor" href="#">Malaysia</a></div>
		  <div id="countries-singapore" class="col text-center country-box"><a class="country-anchor" href="#">Singapore</a></div>
		  <div id="countries-portugal" class="col text-center country-box"><a class="country-anchor" href="#">Portugal</a></div>
		  <div id="countries-spain" class="col text-center country-box"><a class="country-anchor" href="#">Spain</a></div>
		  <div class="w-100"></div>
		  <div id="countries-italy" class="col text-center country-box"><a class="country-anchor" href="#">Italy</a></div>
		  <div id="countries-france" class="col text-center country-box"><a class="country-anchor" href="#">France</a></div>
		  <div id="countries-netherlands" class="col text-center country-box"><a class="country-anchor" href="#">Netherlands</a></div>
		  <div id="countries-greece" class="col text-center country-box"><a class="country-anchor" href="#">Greece</a></div>
		  <div class="w-100"></div>
		  <div id="countries-uk" class="col text-center country-box"><a class="country-anchor" href="#">United Kingdom</a></div>
		  <div id="countries-germany" class="col text-center country-box"><a class="country-anchor" href="#">Germany</a></div>
		  <div id="countries-belgium" class="col text-center country-box"><a class="country-anchor" href="#">Belgium</a></div>
		  <div id="countries-iceland" class="col text-center country-box"><a class="country-anchor" href="#">Iceland</a></div>
		</div>
	</div>
	
</div>