// Place all the styles related to the Budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#budgets-parallax {
	background: linear-gradient(rgba(20,20,20, .4), rgba(20,20,20, .4)), url();
  height: 70%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.canvasjs-chart-credit {
	display: none !important;
}

.total {
    margin: 0;    
    position: absolute;
    top: 52%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}