// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
	height: 100%;
	font-family: 'Raleway', sans-serif !important;
}

//=====================================================================================

#parallax-img-1 {
	background: linear-gradient(rgba(20,20,20, .4), rgba(20,20,20, .4)), url(home-1.jpg);
  height: 90%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-img-2 {
	background: linear-gradient(rgba(20,20,20, .4), rgba(20,20,20, .4)), url(home-2.jpg);
  height: 70%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-img-3 {
	background: linear-gradient(rgba(20,20,20, .4), rgba(20,20,20, .4)), url(home-3.jpg);
  height: 60%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  text-align: center;
}

#logo {
  height: 650px;
}

//=====================================================================================

.caption {
	text-align: center;
}

.caption-country {
  padding-top: 200px;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: white;
}

//=====================================================================================

.parallax-section {
  height: 200px;
  background-color: black;
  font-size: 20px;
  color: white;
}

//=====================================================================================
.parallax-welcome-section {
  height: 400px;
  background-color: black;
  font-size: 17px;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.separator {
  width: 20%;
  background-color: white;
  height: 1px;
  margin: 25px auto;
}

.welcome-text {
  text-align: justify;
  text-align: center;
  width: 700px;
  margin: 0 auto;
}