.navbar-brand {
	margin-right: 0px !important;
}

.nav-link-spacing {
	padding-right: 3.5rem !important;
	padding-left: 3.5rem !important;
}

.nav-link-color {
	color: white !important;
	letter-spacing: 4px;
}