<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-center">
      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="/">Home</a>
      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="/countries">Trips</a>
      <a class="navbar-brand" href="#">
      	<img src="assets/world-1.svg" width="50" height="50" alt="" class="nav-link-color">
      </a>
      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="/budgets">Spend</a>
      <a class="nav-item nav-link nav-link-spacing nav-link-color" href="#">About</a>
    </div>
  </div>
</nav>


<!-- <nav class="navbar navbar-toggleable-md navbar-light fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link nav-link-spacing nav-link-color" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle nav-link-spacing nav-link-color" href="/countries" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Countries
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Thailand</a>
          <a class="dropdown-item" href="#">Vietnam</a>
          <a class="dropdown-item" href="#">Cambodia</a>
          <a class="dropdown-item" href="#">Indonesia</a>
          <a class="dropdown-item" href="#">Malaysia</a>
          <a class="dropdown-item" href="#">Singapore</a>
          <a class="dropdown-item" href="#">Portugal</a>
          <a class="dropdown-item" href="#">Spain</a>
          <a class="dropdown-item" href="#">Italy</a>
          <a class="dropdown-item" href="#">France</a>
          <a class="dropdown-item" href="#">Netherlands</a>
          <a class="dropdown-item" href="#">Greece</a>
          <a class="dropdown-item" href="#">United Kingdom</a>
          <a class="dropdown-item" href="#">Germany</a>
          <a class="dropdown-item" href="#">Belgium</a>
          <a class="dropdown-item" href="#">Iceland</a>
        </div>
      </li>
      <a class="navbar-brand" href="#">
      	<img src="assets/world-1.svg" width="50" height="50" alt="" class="nav-link-color">
      </a>
      <li class="nav-item">
        <a class="nav-link nav-link-spacing nav-link-color" href="#">Budgets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-spacing nav-link-color" href="#">About</a>
      </li>
    </ul>
  </div>
</nav> -->